div .color-button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 12px 26px;
  color: var(--white);
}

div .color-button:before {
  position: relative;
  left: -5px;
}

body .offcanvas-end {
  top: 74px;
  width: 280px;
}
body .offcanvas-body {
  background-color: var(--gray-2);
  padding: 25px;
}

body .offcanvas-body > div {
  margin-bottom: 20px;
}
/* *::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgb(138, 138, 138);
} */

@media screen and (max-width: 767px) {
  div .color-button {
    font-size: 13px;
    padding: 10px 20px;
  }
}

@media (min-width: 767px) {
  body .offcanvas-end,
  body .offcanvas-backdrop {
    display: none;
  }
}
